external apps build dir
external_apps/of/Crystalfilm/bin/CrystalfilmDebug.app
external_apps/of/Crystalfilm2/bin/Crystalfilm2Debug.app
external_apps/of/drawingApp/bin/drawingAppDebug.app
external_apps/of/thesis-performance


# libs directory (currently v8)
libs

# xcode build directory
xcode/build

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
